.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1em;
    padding-block: 2em;
}



.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.image {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    object-fit: cover;
}